<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>

<body>

    <button id="firstRequest" hx-get="http://127.0.0.1:8000" hx-target="#target1">
        First Request
    </button>

    <button id="firstRequest" hx-post="http://127.0.0.1:8000/message" hx-target="#target2"
        hx-sync="#firstRequest:queue">
        Second Request
    </button>

    <div id="target1"></div>
    <div id="target2"></div>

</body>

</html>